@model CrmMahata.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Password" />
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Tin" class="col-form-label">TIN</label>
                        <input asp-for="Tin" class="form-control" placeholder="TIN" />
                        <span asp-validation-for="Tin" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Certkey" class="col-form-label">CertKey</label>
                        <input asp-for="Certkey" class="form-control" placeholder="CertKey" />
                        <span asp-validation-for="Certkey" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="BusinessName" class="col-form-label"> Business Name</label>
                        <input asp-for="BusinessName" class="form-control" placeholder="Business Name" />
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Address" class="col-form-label"></label>
                        <input asp-for="Address" class="form-control" placeholder="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Email" class="col-sm-4 col-form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Phone" class="col-sm-4 col-form-label"></label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="WebSite" class="col-form-label"></label>
                        <input asp-for="WebSite" class="form-control" placeholder="WebSite" />
                        <span asp-validation-for="WebSite" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="RegId" class="col-form-label"></label>
                        <input asp-for="RegId" class="form-control" placeholder="RegId" />
                        <span asp-validation-for="RegId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Serial" class="col-form-label">Serial</label>
                        <input asp-for="Serial" class="form-control" placeholder="Serial" />
                        <span asp-validation-for="Serial" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Vrn" class="col-form-label">VRN</label>
                        <input asp-for="Vrn" class="form-control" placeholder="VRN" />
                        <span asp-validation-for="Vrn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Uin" class="col-form-label">UIN</label>
                        <input asp-for="Uin" class="form-control" placeholder="UIN" />
                        <span asp-validation-for="Uin" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="TaxOffice" class="col-form-label"></label>
                        <input asp-for="TaxOffice" class="form-control" placeholder="TaxOffice" />
                        <span asp-validation-for="TaxOffice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
